[submodule "eminclude"]
	path = eminclude
	url = https://kittychunk@bitbucket.org/kittychunk/eminclude.git
	branch = master


[submodule "emincludecc"]
	path = emincludecc
	url = https://kittychunk@bitbucket.org/kittychunk/emincludecc.git
	branch = master
	
